

// ¶¨Òå º¯Êý
.show(@w,@h,@b){
  width: @w;
  height:@h;
  background-color: @b;
}

p{
  .show(200px,200px,red);
}

div{
  .show(100px,500px,blue);
  width: 200+200px;
  //#ff0000
  color:spin(red, 20);
}