/*��������1*/
.box {
  width: 200px;
  background-color: #daa520;
}
.box div {
  font-size: 20px;
}
.box div > p {
  color: #daa520;
}
.box div > p a {
  text-decoration: none;
}
.box div > p a:hover {
  color: pink;
}
.box div > p a::after {
  content: "";
}
.bd {
  border: 1px solid #daa520;
  border-radius: 5px;
}
p {
  background-color: #daa520;
  width: 33.66666667px;
  border: 1px solid #daa520;
  border-radius: 5px;
}
